@model SeguimientoReclamos

@{
    ViewData["Title"] = "Create";
}


<h1>Crear</h1>

<h4>Seguimiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdReclamo" class="control-label">Seleccione un Reclamo</label>
                <select asp-for="IdReclamo" asp-items="ViewBag.Reclamos" class="form-control">
                    <option value="">Seleccione un reclamo</option>
                </select>
                <span asp-validation-for="IdReclamo" class="text-danger"></span>
            </div>
			
            <div class="form-group">
                <label asp-for="FechaSeguimiento" class="control-label">Fecha de Seguimiento</label>
                <input asp-for="FechaSeguimiento" type="date" class="form-control" />
                <span asp-validation-for="FechaSeguimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="NotificacionCliente" type="checkbox" class="form-check-input" />
                <label asp-for="NotificacionCliente" class="form-check-label">Notificar al Cliente</label>
                <span asp-validation-for="NotificacionCliente" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
