@model Permisos

@{
    ViewData["Title"] = "Create";
}


<h1>Crear</h1>

<h4>Crear Permiso</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
			
            <div class="form-group">
                <label asp-for="Modulo" class="control-label"></label>
                <input asp-for="Modulo" class="form-control" />
                <span asp-validation-for="Modulo" class="text-danger"></span>
            </div>
			
			<div class="form-group">
                <label asp-for="Accion" class="control-label"></label>
                <input asp-for="Accion" class="form-control" />
                <span asp-validation-for="Accion" class="text-danger"></span>
            </div>
			
			<div class="form-group">
                <label asp-for="IdRol" class="control-label"></label>
                
                <select asp-for="IdRol" class="form-control" asp-items="ViewBag.Roles">
                    <option value="">Seleccione un Rol</option>
                </select>

                <span asp-validation-for="IdRol" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
